
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <table>
                    <tr>
                        <td><a href="showproducts"> Show Products </a></td>
                        <td><a href="addproduct"> Add Product </a></td>
                    </tr>
                </table>
            </div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/Module.js")"></script>
    <script src="~/MyScripts/Services.js"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/ShowProductsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/AddProductController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/EditProductController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/DeleteProductController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/DetailsProductController.js")"></script>
}

